.ContentNav {
  position: sticky;
  top: calc(var(--header-height) + var(--xl));
  background-color: var(--background-color);
  color: #e2e2e2;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: var(--m) 0;
  /* max-height: 100vh; */
  height: calc(100vh - var(--header-height) - var(--xl) - var(--l));
  overflow: hidden;
  /* align-self: flex-start; */
}

/* .ContentNav:hover {
  background-color: rgba(255, 255, 255, 0.4);
} */
