/* main content */
.Content {
  width: 100%;
  display: flex;
  margin: var(--xl) auto 0;
  gap: var(--xl);
  height: 100%;
}

.Content-p {
  margin: 0;
  font-size: 18px;
  line-height: 2;
}

.Content-p2 {
  margin: 0;
  font-size: 24px;
  line-height: 2;
  text-align: center;
}

.Content-bold {
  font-weight: bold;
}

.Content-large {
  font-size: 20px;
}
