.ContentMain {
  flex: 1;
  /* width: 100px; */
}

.ContentMain-content {
  /* background-color: var(--background-color); */
  font-size: var(--m);
  width: 100%;
  padding: var(--m);
  /* color: #fefefe; */
  /* font-weight: 700; */
}

.middle {
  justify-content: center;
}
