.R-align {
  margin: 36px auto 0;
  display: flex;
  justify-content: center;
}
.R-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.R-button {
  font-size: 30px;
  height: 70px;
  padding: 12px 40px;
}

.R-p {
  margin: 8px 0;
  font-size: 18px;
  /* line-height: 2; */
}
