@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-regular {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: var(--header-height);
  padding: 0 var(--xl);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  align-items: center;
  width: 100%;
  color: white;
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);
}

.Header-title {
  margin: auto 0;
  display: flex;
  align-items: center;
}

.Header-link {
  text-decoration: none;
  cursor: pointer;
}
